.container {
  display: flex;
}

.sidebar {
  background-color: #eee;
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 20px;
}

.main-section {
  flex-basis: 75%;
  flex-grow: 1;
  padding: 20px;
}

@media (max-width: 640px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    flex-basis: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .sidebar li {
    margin: 5px;
  }
}
